body{
	background-image: url("../images/lakePicture.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 100%;
}

.bio{
	display: inline-block;
	width: 30%;
	font-size: 24px;
	position: absolute;
	top: 15%;
	left: 30%;
	color: #111111;
}

.title{
	width: 20%;
	height: 50%;
	position: absolute;
	top: 3%;
	left: 15%;
	font-size: 100px;
	color: #fcfcfcba;
}