<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/about.css">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/about.js"></script>
</head>
<body>
	<div class="container">
		<a href="../index.html">
			<img id="logo" src="../images/leaf.png">
		</a>
		<a href="about.html" class="inner">About</a>
		<a href="soloWork.html" class="inner">Solo Work</a>
		<a href="contact.html" class="inner">Contact</a>
		<a href="hidden_colour.html" class="inner">Hidden Colour</a>
	</div>
	<div >
		<p class="title">Bio:</p>
		<p class="bio"></p> 
	</div>

</body>
</html>

