<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/contact.css">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/contact.js"></script>
</head>
<body>
	<div id="template"></div>
	<div class="container">
		<a href="../index.html">
			<img id="logo" src="../images/leaf.png">
		</a>
		<a href="about.html" class="inner">About</a>
		<a href="solo_Work.html" class="inner">Solo Work</a>
		<a href="contact.html" class="inner">Contact</a>
		<a href="hidden_colour.html" class="inner">Hidden Colour</a>
	</div>
	<div id="center">
		<div class="circle">
			<a href="https://twitter.com/HakuLeaf" target="_blank">
				<img class="icon tw" src="../images/twitter_icon.png">
			</a>
			<a href="https://www.facebook.com/harry.lopeziii?__tn__=%2CdC-R-R&eid=ARDZxUJxEMuLbYD8riZxSt_wy8WBMyQKyBZxByFDsnongbB16dLIOM9CINHYfsGG_EukDbxOCVpfbSkX&hc_ref=ARRy_iXgfaOR8j_GOQxR10xexJh3Rcykcl3EoO6CQQGpj2-8xwVOkAWqck5DctuewCU&fref=nf" target="_blank">
				<img class="icon fb" src="../images/facebook_icon.png">
			</a>
			<a href="https://www.instagram.com/hakuleaf/?hl=en" target="_blank">
				<img class="icon ig" src="../images/instagram_icon.png">
			</a>
			<a href="mailto:harry.lopez0913@gmail.com?subject=Contact Haku Leaf">
				<img class="icon email" src="../images/email_icon.png">
			</a> 
			<a href="https://soundcloud.com/hakuleaf/tracks" target="_blank">
				<img class="icon sc" src="../images/soundcloud_icon.png">
			</a>
			<a href="https://www.tumblr.com/login_required/pulchritudelove" target="_blank">
				<img class="icon tb" src="../images/tumblr_icon.png">
			</a>
		</div>
	</div>
	
</body>
</html>

