<!DOCTYPE html>
<html>
<head>
	<title>Hidden Colour</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/hidden_colour.css">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/hidden_colour.js"></script>
</head>
<body>
	<div id="template">
		<div class="contact">
			<a href="https://twitter.com/HiddenColourNYC?s=09" target="_blank">
				<img class="icon tw" src="../images/twitter_icon.png" alt="twitter icon">
			</a>
			<a href="https://www.facebook.com/Hiddencolournyc/" target="_blank">
				<img class="icon fb" src="../images/facebook_icon.png" alt="facebook icon">
			</a>
			<a href="https://www.instagram.com/hiddencolournyc/?hl=en" target="_blank">
				<img class="icon ig" src="../images/instagram_icon.png" alt="instagram icon">
			</a>
			<a href="mailto:hiddencolournyc@gmail.com?subject=Contact Haku Leaf">
				<img class="icon email" src="../images/email_icon.png" alt="email icon">
			</a> 
			<a href="https://soundcloud.com/hiddencolournyc" target="_blank">
				<img class="icon sc" src="../images/soundcloud_icon.png" alt="sound cloud icon">
			</a>
			<a href="https://www.tumblr.com/login_required/hiddencolournyc#_=_" target="_blank">
				<img class="icon tb" src="../images/tumblr_icon.png" alt="tumblr icon">
			</a>
		</div>
		<div class="about">
			Harry Lopez is the lead singer and co-composer in alternative rock band Hidden Colour. Hidden Colour first formed in 2014 under the alias “Brooklyn Blues,” and has produced a self-titled EP (2017) and an album titled “Different Shades” (2018). They are currently working on their second album, “Blind,” which is set to release in 2019.
		</div>

	</div>
	<div class="container">
		<a href="../index.html">
			<img id="logo" src="../images/leaf.png">
		</a>
		<a href="about.html" class="inner">About</a>
		<a href="solo_work.html" class="inner">Solo Work</a>
		<a href="contact.html" class="inner">Contact</a>
		<a href="hidden_colour.html" class="inner">Hidden Colour</a>
	</div>

	<div class="container">
		<p id="title">Hidden<br>Colour</p>
	</div>
	<img id="picture" src="../images/hidden_colour.jpeg" alt="picture of the members of Hidden Colour">
	<iframe class="album" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/527179206&color=%23654a56&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

	
	
</body>
</html>

