<!DOCTYPE html>
<html>
<head>
	<title>Solo Work</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
	<link rel="stylesheet" type="text/css" href="../style/solo_work.css">
	<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/solo_work.js"></script>
</head>
<body>
	<div class="right">
		<div class="landing"></div>
	</div>
	<div class="left">
		<div class="landing"></div>
	</div>
	<div class="fixed">
		<div class="container">
			<a href="../index.html">
				<img id="logo" src="../images/leaf.png">
			</a>
			<a href="about.html" class="inner">About</a>
			<a href="solo_work.html" class="inner">Solo Work</a>
			<a href="contact.html" class="inner">Contact</a>
			<a href="hidden_colour.html" class="inner">Hidden Colour</a>
		</div>
	</div>
	



</body>
</html>

